<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Watch Company</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/user_assets/imgs/theme/watch_company_logo_dark.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user_assets/css/main.css?v=3.4" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <style>
      body,
      h3,
      h2 {
        font-family: "Cormorant Garamond", serif;
      }
    </style>
  </head>

  <body></body>
</html>
