<%- include('../partials/header.ejs') %> <%-
include('../partials/page_header.ejs') %>

<main class="main">
  <!-- slider -->
  <section class="home-slider position-relative mb-30">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
      style="width: 100%; margin-bottom: 50px"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/user_assets/imgs/slider/Banner_4.webp"
            class="d-block w-100"
            alt="Slide 1"
            style="position: relative"
          />
          <button
            class="btn btn-dark"
            style="
              position: absolute;
              bottom: 20px;
              left: 50%;
              transform: translateX(-50%);
              color: black;
              background-color: white;
            "
          >
            Buy Now
          </button>
        </div>
        <div class="carousel-item">
          <img
            src="/user_assets/imgs/slider/Banner_2.webp"
            class="d-block w-100"
            alt="Slide 2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/user_assets/imgs/slider/Banner_3.webp"
            class="d-block w-100"
            alt="Slide 3"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
        style="left: 5%"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
        style="right: 5%"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  <!-- end of slider -->

  <!-- filter section -->
  <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Category
            </h5>
            <ul class="categories">
              <li><a href="shop-grid-right.html">Shoes & Bags</a></li>
              <li><a href="shop-grid-right.html">Blouses & Shirts</a></li>
              <li><a href="shop-grid-right.html">Dresses</a></li>
              <li><a href="shop-grid-right.html">Swimwear</a></li>
              <li><a href="shop-grid-right.html">Beauty</a></li>
              <li><a href="shop-grid-right.html">Jewelry & Watch</a></li>
              <li><a href="shop-grid-right.html">Accessories</a></li>
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Sort by
            </h5>
            <ul class="categories">
              <li><a href="shop-grid-right.html">Popularity</a></li>
              <li><a href="shop-grid-right.html">Average rating</a></li>
              <li><a href="shop-grid-right.html">Price: Low to High</a></li>
              <li><a href="shop-grid-right.html">Price: High to Low</a></li>
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              Price Range
            </h5>
            <ul class="categories">
              <li><a href="shop-grid-right.html">$0-$200</a></li>
              <li><a href="shop-grid-right.html">$200-$400</a></li>
              <li><a href="shop-grid-right.html">$400-$600</a></li>
              <li><a href="shop-grid-right.html">$600-$800</a></li>
              <li><a href="shop-grid-right.html">800$+</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <!--products-->
          <div class="tab-content wow fadeIn animated" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="tab-one"
              role="tabpanel"
              aria-labelledby="tab-one"
            >
              <div class="row product-grid-4">
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-1-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-1-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">Hot</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Clothing</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Colorful Pattern Shirts</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>90%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-2-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-2-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Clothing</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Plain Color Pocket Shirts</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>50%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$138.85 </span>
                        <span class="old-price">$255.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-3-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-3-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best">Best Sell</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Shirts</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Vintage Floral Oil Shirts</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>95%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$338.85 </span>
                        <span class="old-price">$445.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-4-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-4-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="sale">Sale</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Clothing</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Colorful Hawaiian Shirts</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$123.85 </span>
                        <span class="old-price">$235.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-5-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-5-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-30%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Shirt</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Flowers Sleeve Lapel Shirt</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$28.85 </span>
                        <span class="old-price">$45.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-6-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-6-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-22%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Shirts</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Ethnic Floral Casual Shirts</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-7-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-7-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Shoes</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Stitching Hole Sandals</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>98%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$1275.85 </span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-8-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-8-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Shirt</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Mens Porcelain Shirt</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-9-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-9-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Shirt</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Mens Porcelain Shirt</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End product-grid-4-->
            </div>
            <!--En tab one (Featured)-->
            <div
              class="tab-pane fade"
              id="tab-two"
              role="tabpanel"
              aria-labelledby="tab-two"
            >
              <div class="row product-grid-4">
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-9-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-9-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">Hot</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Donec </a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html">Lorem ipsum dolor</a>
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>90%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-10-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-10-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Music</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Sed tincidunt interdum</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>50%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$138.85 </span>
                        <span class="old-price">$255.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-11-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-11-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best">Best Sell</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html">Fusce metus orci</a>
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>95%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$338.85 </span>
                        <span class="old-price">$445.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-15-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-15-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best">Best Sell</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html">Fusce metus orci</a>
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>95%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$338.85 </span>
                        <span class="old-price">$445.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-12-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-12-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="sale">Sale</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Music</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Integer venenatis libero</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$123.85 </span>
                        <span class="old-price">$235.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-13-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-13-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-30%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Speaker</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Cras tempor orci id</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$28.85 </span>
                        <span class="old-price">$45.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-14-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-14-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-22%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Camera</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Nullam cursus mi qui</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-15-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-15-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Phone</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Fusce fringilla ultrices</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>98%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$1275.85 </span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-1-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-1-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Accessories </a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Sed sollicitudin est</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End product-grid-4-->
            </div>
            <!--En tab two (Popular)-->
            <div
              class="tab-pane fade"
              id="tab-three"
              role="tabpanel"
              aria-labelledby="tab-three"
            >
              <div class="row product-grid-4">
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-2-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-2-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">Hot</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Music</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Donec ut nisl rutrum</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>90%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-3-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-3-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Music</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Nullam dapibus pharetra</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>50%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$138.85 </span>
                        <span class="old-price">$255.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-13-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-13-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Music</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Nullam dapibus pharetra</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>50%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$138.85 </span>
                        <span class="old-price">$255.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-4-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-4-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best">Best Sell</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Morbi dictum finibus</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>95%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$338.85 </span>
                        <span class="old-price">$445.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-5-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-5-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="sale">Sale</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Music</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Nunc volutpat massa</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$123.85 </span>
                        <span class="old-price">$235.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-6-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-6-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-30%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Speaker</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Nullam ultricies luctus</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$28.85 </span>
                        <span class="old-price">$45.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-7-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-7-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-22%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Camera</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html">Nullam mattis enim</a>
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-8-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-8-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Phone</a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html"
                          >Vivamus sollicitudin</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>98%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$1275.85 </span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="hover-img"
                            src="/user_assets/imgs/shop/product-9-1.jpg"
                            alt=""
                          />
                          <img
                            class="default-img"
                            src="/user_assets/imgs/shop/product-9-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          ><i class="fi-rs-eye"></i
                        ></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn hover-up"
                          href="shop-wishlist.html"
                          ><i class="fi-rs-heart"></i
                        ></a>
                        <a
                          aria-label="Compare"
                          class="action-btn hover-up"
                          href="shop-compare.html"
                          ><i class="fi-rs-shuffle"></i
                        ></a>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Accessories </a>
                      </div>
                      <h2>
                        <a href="shop-product-right.html">
                          Donec ut nisl rutrum</a
                        >
                      </h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="shop-cart.html"
                          ><i class="fi-rs-shopping-bag-add"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End product-grid-4-->
            </div>
            <!--En tab three (New added)-->
          </div>
          <!--products-->
        </div>
      </div>
    </div>
  </section>
  <!-- end of filter section -->

  <!-- popular categories -->
  <section class="popular-categories section-padding mt-15">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-arrows"
        ></div>
        <div class="carausel-6-columns" id="carausel-6-columns">
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-1.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html">
                <img src="/user_assets/imgs/shop/category-thumb-2.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Bags</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-3.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Sandan</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-4.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-5.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Shoes</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-6.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-7.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
          </div>
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"
                ><img src="/user_assets/imgs/shop/category-thumb-8.jpg" alt=""
              /></a>
            </figure>
            <h5><a href="shop-grid-right.html">Hats</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of popular categories -->

  <!-- gurantees  -->
  <section class="featured section-padding">
    <div class="container pb-25">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user_assets/imgs/theme/icons/feature-1.png" alt="" />
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user_assets/imgs/theme/icons/feature-2.png" alt="" />
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user_assets/imgs/theme/icons/feature-3.png" alt="" />
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user_assets/imgs/theme/icons/feature-4.png" alt="" />
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user_assets/imgs/theme/icons/feature-5.png" alt="" />
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/user_assets/imgs/theme/icons/feature-6.png" alt="" />
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of gurantees -->
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  // Preload images to ensure smooth transition
  $(document).ready(function () {
    $("#carouselExampleIndicators .carousel-item img").each(function () {
      var src = $(this).attr("src");
      $("<img/>")
        .attr("src", src)
        .on("load", function () {
          $(this).remove();
        });
    });
  });
</script>

<%- include('../partials/page_footer.ejs') %> <%-
include('../partials/footer.ejs')%>
