<%- include('../partials/header.ejs') %>

<!-- Content -->
<div
  style="
    background-color: #2b2b2b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    class="container"
    style="
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      height: 400px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <div>
      <h2 class="text-center mb-4">OTP Verification</h2>
      <div id="otpStatus" class="text-center mb-3"></div>
      <form action="/otp" method="post" id="otpForm">
        <div class="form-group" style="width: 100%">
          <input
            type="text"
            class="form-control mb-3"
            id="otpInput"
            name="otp"
            placeholder="Enter OTP"
            style="text-align: center"
          />
        </div>
        <div id="timer" class="text-center mb-3"></div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          style="background-color: black"
          onmouseover="this.style.opacity='0.8'"
          onmouseout="this.style.opacity='1'"
          id="submitBtn"
          disabled
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-dark btn-block"
          id="resendBtn"
          style="background-color: black"
          onmouseover="this.style.opacity='0.8'"
          onmouseout="this.style.opacity='1'"
          disabled
        >
          Resend
        </button>
      </form>
    </div>
  </div>
</div>

<script>
    let countdown = 60;
    const timerDisplay = document.getElementById("timer");
    const submitButton = document.getElementById("submitBtn");
    const resendButton = document.getElementById("resendBtn");

    // Timer functionality.
    function startTimer() {
      let minutes, seconds;

      const timer = setInterval(function () {
        minutes = parseInt(countdown / 60, 10);
        seconds = parseInt(countdown % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        timerDisplay.textContent = minutes + ":" + seconds;

        if (--countdown < 0) {
          clearInterval(timer);
          timerDisplay.textContent = "Time's up!";
          submitButton.disabled = true;
          resendButton.disabled = false;
        }
      }, 1000);
    }
    startTimer();

    // Resend OTP functionality.
    document.getElementById("resendBtn").addEventListener("click", function () {
      fetch("/resend-otp", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          throw new Error("Failed to resend OTP");
        })
        .then((data) => {
          if (data.success) {
            displayMessage("New OTP sent successfully!", "text-success");
            countdown = 60;
            startTimer();
            submitButton.disabled = false;
            resendButton.disabled = true;
          } else {
            displayMessage(
              "Failed to resend OTP. Please try again later.",
              "text-danger"
            );
          }
        })
        .catch((error) => {
          console.log("Error:", error);
          displayMessage(
            "An error occurred. Please try again later.",
            "text-danger"
          );
        });
    });

    document.getElementById("otpInput").addEventListener("input", function () {
      submitButton.disabled = this.value.trim() === "";
    });

    // OTP submission functionality.
    document
      .getElementById("otpForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const enteredOTP = document.getElementById("otpInput").value;
        fetch("/otp", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ otp: enteredOTP }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              displayMessage("OTP verification successful!", "text-success");
              setTimeout(() => {
                window.location.href = "/login";
              }, 1000);
            } else {
              displayMessage(
                "Wrong OTP. Please try again.",
                "text-danger"
              );
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            displayMessage(
              "An error occurred. Please try again later.",
              "text-danger"
            );
          });
      });

    function displayMessage(message, className) {
      const otpStatusElement = document.getElementById("otpStatus");
      otpStatusElement.textContent = message;
      otpStatusElement.className = className;
    }
  </script>
<%- include('../partials/footer.ejs') %>
