
<script src="/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>

<script src="/admin_assets/js/vendors/select2.min.js"></script>
<script src="/admin_assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>

<script src="/admin_assets/js/vendors/chart.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/syotimer/2.1.2/jquery.syotimer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.vticker/0.1.4/jquery.vticker-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/theia-sticky-sidebar/1.7.0/theia-sticky-sidebar.min.js"></script>
<script src="/admin_assets/js/main.js"></script>
<script src="/admin_assets/js/custom-chart.js"></script>
</body>
</html>